<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.chatuz.chatuz.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FriendsServlet</servlet-name>
        <servlet-class>com.chatuz.chatuz.FriendsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FriendsServlet</servlet-name>
        <url-pattern>/FriendsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet>
        <servlet-name>BestFriendsServlet</servlet-name>
        <servlet-class>com.chatuz.chatuz.BestFriendsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BestFriendsServlet</servlet-name>
        <url-pattern>/BestFriendsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OdzyskanieHasla</servlet-name>
        <servlet-class>com.chatuz.chatuz.OdzyskanieHasla</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OdzyskanieHasla</servlet-name>
        <url-pattern>/OdzyskanieHasla</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProcesResetowaniaHaslaServlet</servlet-name>
        <servlet-class>com.chatuz.chatuz.ProcesResetowaniaHaslaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcesResetowaniaHaslaServlet</servlet-name>
        <url-pattern>/ProcesResetowaniaHaslaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChatRedirect</servlet-name>
        <servlet-class>com.chatuz.chatuz.ChatRedirect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatRedirect</servlet-name>
        <url-pattern>/ChatRedirect</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PartyModeServlet</servlet-name>
        <servlet-class>com.chatuz.chatuz.PartyModeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PartyModeServlet</servlet-name>
        <url-pattern>/PartyModeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.chatuz.chatuz.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <description>MySQL Datasource example</description>
        <res-ref-name>jdbc/MyLocalDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <filter>
        <filter-name>SessionCheckFilter</filter-name>
        <filter-class>com.chatuz.chatuz.SessionCheckFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SessionCheckFilter</filter-name>
        <url-pattern>/chat.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionCheckFilter</filter-name>
        <url-pattern>/ChatRedirect</url-pattern>
    </filter-mapping>

</web-app>